body{
    background-color:darksalmon;
    text-align: center;
    font-family: 'Merriweather',serif;
}

h1{
    font-family: 'Montserrat',sans-serif;
    font-size: 4rem;
    border-bottom: 30px;

}

h2{
    font-size: 3rem;
}

h3{
    font-size: 2rem;

}

.header{
    padding :20px 0;
}

.main{

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding-top: 15px;
}

.results{

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.resultsplit{
    margin-top: 35px;
    width: 30% ;
}


.rock:hover,.scissors:hover,.paper:hover{ 

    filter: invert(52%) sepia(73%) saturate(1638%) hue-rotate(321deg) brightness(117%) contrast(116%);
}

.button, .animation-button{
    background: transparent;
    border: none !important;
    font-size:0px;    
    cursor: pointer;

}



img.animation-gif{
    width:100vh;
    height: auto;
    
}

.animation1{
    position: absolute;
    width: 100%;
    visibility: hidden;

}

.animation2{

    position: absolute;
    left:50%;
    top:50% ;
    transform: translate(-50%, -50%);
}

.animation-button:hover {
    opacity: 0.5;
    transition: 2s ease;
}


.text-animation {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}